/* Colores */

:root {
    --color-background: #063751;
    --color-ppal: #021118;
    --color-text: #FFFFFF;
    --color-textsec: #000000;
    --color-popcorn: #FFBE8D;
    --color-shadows: #CECECE;
}

/* Creación de fuentes */

@font-face {
    font-family: 'Peach Cake';
    src: url(../assets/fonts/Peach\ Cake.otf) format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url(../assets/fonts/Helvetica.ttf) format('truetype');
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url(../assets/fonts/Helvetica-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Tox Typewriter';
    src: url(../assets/fonts/Tox\ Typewriter.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url(../assets/fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins Italic';
    src: url(../assets/fonts/Poppins-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins Thin';
    src: url(../assets/fonts/Poppins-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Menlo';
    src: url(../assets/fonts/Menlo-Regular.ttf) format('truetype');
}



/* Estilos generales */

body {
    background-color: var(--color-background);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    );
} /* Color del fondo del body */

/* Navbar */

.color-fondo {
    background-color: var(--color-ppal);
} /* Color de fondo de la barra de navegación */

.logo {
    max-height: auto;
    max-width: 14vw;
    margin-left: 0.2em;
} /* Tamaño del logo PopCorn */

.tamanio {
    font-family: 'Helvetica Bold', sans-serif;
    font-size: 1.2em;
    color: var(--color-text);
} /* Tamaño letra de la navbar */

.navbar-toggler {
    background-color: var(--color-text);
} /* cuando la navbar comprime, el fondo del menú hamburgesa se vuelve blanco */

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color-popcorn);
} /* Color del active */

.nav-link:hover {
    color: #0f4968;
}

/* Carrusel */

.recontenedor {
    margin-top: 6em;
    margin-bottom: 3em;
} /* Contenedor de la sección carrusel */

.slide {
    margin: 1em;
} /* Márgenes del carrusel con respecto a la pantalla */



/* Peliculas */

.contenedor-titulo {
    text-align: center;
} /* Contenedor del título */

.contenedor-titulo h2 {
    font-family: 'Peach Cake', sans-serif;
    font-size: 8vh;
    color: var(--color-text);
} /* Fuente del título */

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
} /* Contenedor general de la sección de las películas */


/* Tarjetas */

.tarjeta {
    position: relative;
    width: 238px;
    height: 350px;
    margin: 30px;
} /* Contenedor de cada una de las tarjetas */

.tarjeta .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .9s;
} /* Estilos del contenedor de la parte frontal de la tarjeta */

.tarjeta .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px var(--color-shadows);
} /* Estilos del contenedor de la parte frontal de la tarjeta */

.tarjeta .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
} /* Estilos del contenedor de la imagen de la tarjeta */

.tarjeta .back {
    font-family: 'Tox Typewriter', sans-serif;
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    );
    padding: 13px;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: center;
    box-shadow: 0 5px 10px var(--color-shadows);
} /* Estilos para cuando la tarjeta gira */

.tarjeta .back .separador {
    border-top: solid 1px var(--color-text);
    height: 2px;
    line-height: 50px;
} /* Linea que separa el titulo de lo demas en la card de atras */

.tarjeta .back h3 {
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 1px;
} /* Estilo para el h3 de la parte del back */

.text-year {
    font-size: 15px;
    font-style: italic;
} /* Estilo del año en la card de la parte del back */

.text-duration {
    font-size: 14px;
    font-style: italic;
}

.text-rate {
    font-size: 14px;
}

.star {
    color: yellow;
    font-size: 14px;
    text-decoration: solid;
}

.text-director {
    font-size: 18px;
    text-decoration: underline;
}

.text-director-name {
    font-size: 15px;
}

.text-genre {
    font-size: 18px;
    text-decoration: underline;
}

.text-genres {
    font-size: 15px;
}

.tarjeta:hover .front {
    transform: perspective(600px) rotateY(180deg);
} /* Efecto para que la tarjeta gire de frente hacia atrás */

.tarjeta:hover .back {
    transform: perspective(600px) rotateY(360deg);
} /* Efecto para que la tarjeta gire nuevamente */



/* Footer */

.contenedor-footer {
    background-color: var(--color-ppal);
    height: 25vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
} /* contenedor del footer */

.marcos-dev {
    font-family: 'Menlo', sans-serif;
    font-size: 20px;
    color: var(--color-text);
    margin: 1em;
    margin-bottom: 0;
} /* Estilos del marcos.dev */

footer img {
    height: 10em;
    width: auto;
    margin: 1em;
} /* estilos para la imagen png de PopCorn */

.contenedor-iconos {
    margin: 1em;
} /* Estilos del contenedor de los iconos exportados desde Bootstrap */

.contenedor-iconos i {
    font-size: 30px;
    color: var(--color-text);
    margin: 6px;
} /* Estilos de los iconos exportados desde Bootstrap */

.contenedor-iconos a {
    text-decoration: none;
} /* sacar la decoración de los iconos exportados desde Bootstrap */








/* ---------------------- Historia del cine ---------------------- */

/* Imagen del cine */

.hero-hist {
    max-width: 120rem;
    height: 40rem;
    background: url(https://billiken.lat/wp-content/uploads/2023/05/principal2.jpeg) no-repeat center center / cover;
    margin: 3rem auto;
} /* Imagen de fondo superior */


/* Historia del cine */

.main-hist {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    max-width: 80rem;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1.5rem;
    margin-top: -15rem;
    margin-bottom: 2em;
} /* Estilos del contenedor de la noticia */

.main-hist h2 {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
} /* Estilo del título de la noticia */

.main-hist .profile-container-hist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
} /* Estilos para el contenedor de los detalles de la primer imagen de la noticia */

.main-hist .profile-container-hist .profile-hist {
    display: flex;
    justify-content: center;
    align-items: center;
} /* Estilos para el contenedor al lado de la imagen */

.main-hist .profile-container-hist .profile-hist .img-container-hist {
    width: 9rem;
    height: 6rem;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Muybridge_race_horse_animated.gif/210px-Muybridge_race_horse_animated.gif)no-repeat center center / cover;
    border-radius: 0.5rem;
    margin-right: 1em;
} /* Estilos para la imagen */

.main-hist .profile-container-hist .profile-hist .text-hist {
    font-family: 'Poppins Italic', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
} /* Estilos para los textos que acompañan a la imagen */

.profile-hist .text-hist h3 {
    text-transform: uppercase;
} /* Estilo de texto h3 que acompaña a la imagen (todo en mayuscula) */

.main-hist .content-hist p {
    color: black;
    margin: 1rem 0;
} /* Estilos para los parrafos dentro de la historia principal */

.main-hist .content-hist ul {
    margin: 1rem 0;
} /* Estilos para el parrafo dentro del tag */

.main-hist .content-hist h4 {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 1;
    font-weight: 600;
    margin-top: 1.2em;
} /* Estilos para los h4 dentro de la historia principal */

.main-hist .content-hist .content-img-container-hist {
    width: 100%;
    height: 35rem;
    background: url(https://brainstormingfilms.es/wp-content/uploads/2021/12/viaje-a-la-luna-historia-del-cine-e1640366097177.jpeg) no-repeat center center / cover;
} /* Estilos para la imagen central */

.main-hist .content-hist .viaje {
    font-family: 'Poppins Italic';
    margin-top: 0.1rem;
    font-size: 13px;    
} /* Estilo del pie de foto */

blockquote {
    font-size: 0.8rem;
    padding: 1rem 2.8rem;
    line-height: 1.6;
    font-weight: 300;
    box-shadow: inset 0.5rem 0 0 var(--color-popcorn);
    background-color: #f5f5f5;
} /* Estilo de la cita */

.tags-hist {
    display: flex;
    align-items: center;
} /* Estilo para el tag */

.tags-hist p {
    font-size: 1rem;
    text-transform: capitalize;
    margin: 1rem 0;
} /* Estilos para el parrafo dentro del tag */

.tags-hist a {
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    background-color: #f5f5f5;
    border-radius: 15px;
    color: grey;
    font-size: 0.8rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
} /* Estilos para los enlaces del tag */








/* ---------------------- Noticias ---------------------- */

/* Contenedor general de las noticias */

#seccion-not {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    margin-top: 3rem;
} /* Contenedor del cuerpo donde van a ir las noticias */



/* Contenedor de los titulos de las noticias */

.heading-not {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} /* Contenedor de los titulos */

.heading-not span {
    font-family: 'Poppins Thin', sans-serif;
    color: var(--color-text);
} /* Estilos del primer titulo */

.heading-not h3 {
    font-family: 'Peach Cake', sans-serif;
    font-size: 2.4rem;
    color: var(--color-text);
} /* Estilos del segundo titulo y principal */



/* Contenedor de las tarjetas de noticias */

.container-not {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
} /* Estilos para el contenedor donde van a ir las tarjetas de noticias */

.caja-not {
    width: 350px;
    background-color: var(--color-text);
    border: 1px solid var(--color-shadows);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--color-shadows);
} /* Estilos de la caja contenedora de la imagen */

.img-not {
    height: 200px;
    width: auto;
} /* Estilos para el contenedor de la imagen de la noticia */

.img-not img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
} /* Estilos de la imagen de la noticia */

.text-not {
    padding: 30px;
    display: flex;
    flex-direction: column;
} /* Estilos del contenedor del texto (fecha y genero de la noticia) */

.text-not span {
    font-family: 'Poppins Thin', sans-serif;
    color: grey;
    font-size: 0.9rem;
} /* Estilo del texte del contenedor de la noticia */

.text-not .title-not {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-textsec);
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} /* Estilo del titulo del texto */

.text-not .title-not:hover {
    color: var(--color-popcorn);
    transition: all ease 0.3s;
} /* Estilo del hover cuando se pasa por encima del titulo */

.text-not p {
    color: grey;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
} /* Estilos del cuerpo de la noticia */








/* ---------------------- Form ---------------------- */

/* Contenedor general del formulario */

.container-pel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 4rem;
} /* Contenedor general de la seccion */

.heading-pel h3 {
    font-family: 'Peach Cake', sans-serif;
    font-size: 2.4rem;
    color: var(--color-text);
} /* Estilo para el título general de la seccion */



/* Contenedor imagen y formulario */

.container-imgform-pel {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    max-width: 100%;
    height: 700px;
    margin: 20px;
}



/* Contenedor imagen */

.container-img-pel {
    position: relative;
    background: url('https://i.pinimg.com/564x/2d/5a/53/2d5a533fd5254d3d4320db86d98de2d8.jpg') no-repeat center center / cover;
    width: 40%;
} /* Imagen de Roz */

.container-img-pel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
} /* Sombreado a las imagenes originales */



/* Contenedor formulario */

.container-titleformbtn-pel {
    display: flex;
    flex-direction: column;
    width: 60%;
} /* Contenedor formulario, contiene el h4 y el formulario */

.container-title-pel h4{
    font-family: 'Poppins Bold', sans-serif;
    color: var(--color-text);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
} /* Estilos del titulo 'Crea tu pelicula' */

.container-formbtn-pel {
    height: 100%;
    margin: 1rem;
    align-content: center;
} /* Contenedor general del formulario */

/* Inputs y Labels */

.container-labelinput-pel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
} /* Contenedores de los labels y los imputs */

.container-labelinput-pel-tit, .container-labelinput-pel-dir,
.container-labelinput-pel-year, .container-labelinput-pel-dur,
.container-labelinput-pel-gen, .container-labelinput-pel-rank,
.container-labelinput-pel-img {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 5px;
} /* Estilos de los label e imputs generales */

.label-tit, .label-dir, .label-year,
.label-dur, .label-gen, .label-rank, .label-img {
    color: var(--color-text);
    font-size: 1.3em;
    margin-right: 1em;
} /* Estilos de los labels particulares */

.inp-tit, .inp-dir, .inp-year,
.inp-dur, .inp-gen, .inp-rank, .inp-img {
        display: flex;
        width: 100%;
        padding: .375rem .75rem;
        color: var(--color-textsec);
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        box-shadow: 2px 1px 10px var(--color-shadows);

} /* Estilo de los inputs particulares */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} /* Sacar las flechitas en los inputs de los numbers */



/* Seccion botones */

.container-btn-pel {
    display: flex;
    justify-content: space-evenly;
    padding: 0 60px;
    margin: 3em;
}

.btn-pel {
    padding: 0.8em;
    border: none;
    border-radius: 5rem;
    min-width: 7rem;
    background-color: var(--color-text);
    box-shadow: 2px 1px 10px var(--color-shadows);
}

.btn-pel:hover {
    background-color: var(--color-ppal);
    color: var(--color-text);
    text-transform: capitalize;
}



@media (max-width: 1000px) {

    .container-pel {
        margin-bottom: 12em;
    }

    .container-img-pel {
        background: url('https://scontent.fros2-2.fna.fbcdn.net/v/t1.18169-9/24882_390012054077_5795267_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=oL4JJiUXgC8AX8MDML_&_nc_ht=scontent.fros2-2.fna&oh=00_AfAdu-dRM7AtWjoLXAkCROCOGvdvpeuMnA7fCSvUWp3r4Q&oe=661324CD') no-repeat center center / cover;
        width: 100%;
        height: 30%;

    }

    .container-title-pel h4 {
        margin-top: 1em;
    }

    .container-titleformbtn-pel {
        width: 100%;
    }



    .container-btn-pel {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .container-pel {
        margin-bottom: 22em;
    }

    .container-labelinput-pel {
        display: grid;
    }

}